* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  padding: 1rem;
  background-color: midnightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1rem;
}

.books {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.books .card {
  color: white;
  background-color: cornflowerblue;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.books .card .book-title {
  color: wheat;
  align-self: center;
}

.books .card .info-text {
  color: wheat;
  border-bottom: 2px solid wheat;
}

.books .card .interaction-buttons {
  align-self: flex-end;
}

.books .card .delete-btn {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 100%;
  background-color: red;
  color: white;
}

.books .card .delete-btn:hover {
  background-color: #ff5252;
}

.books .card .book-title {
  font-size: 1.5rem;
}

.create-btn {
  cursor: pointer;
  width: 60px;
  height: 60px;
  font-size: 30px;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: midnightblue;
  color: white;
  border: none;
  border-radius: 100%;
  position: fixed;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.create-btn:hover {
  background-color: #4b4b96;
}

.create-btn:active {
  background-color: #66669c;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid white;
  border-radius: 10px;
  z-index: 10;
  background-color: cornflowerblue;
  color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid white;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

.modal-body .modal-input {
  padding: 10px 0;
}

.modal-body input {
  padding: 8px 5px;
  border: none;
  outline: none;
  background-color: white;
}

.modal-body input:hover {
  background-color: aliceblue;
}

.modal-body .submit-btn {
  cursor: pointer;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
